.my-booked-class {
  position: relative;
}

.my-booked-class::after {
  content: "";
  position: absolute;
  right: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: gray;
}

.my-unread-class {
  position: relative;
}

.my-unread-class::after {
  content: "";
  position: absolute;
  right: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: green;
}
